<div class="container portfolio">

    <div class="row">

        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/1.jpg" alt="Wires" />
                <figcaption>Wires</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/2.jpg" alt="Sheep" />
                <figcaption>Sheep</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/3.jpg" alt="Sunset" />
                <figcaption>Sunset</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/4.jpg" alt="Eiffel Tower" />
                <figcaption>Eiffel Tower</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/5.jpg" alt="Building" />
                <figcaption>Building</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/6.jpg" alt="Church" />
                <figcaption>Church</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/7.jpg" class="img-fluid" alt="Bird" />
                <figcaption>Bird</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/8.jpg" alt="Chipmunk" />
                <figcaption>Chipmunk</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/9.jpg" alt="Cheetah" />
                <figcaption>Cheetah</figcaption>
            </figure>
        </div>
    </div>

</div>